In [2]:
import pandas as pd

In [ ]:
# Ex 01
dicionario = {
    'Nomes': ['Alice', 'Julia', 'Bruna', 'Daniel', 'Filipe', 'Silvo'],
    'Idade': [19, 22, 28, 34, 28, 48],
    'Profissoes': ['Direito', 'Engenharia', 'Enfermagem', 'Engenharia Civil', 'Cientista da Computação', 'Engenheiro Eletronico'],
    'ID': [1,2,3,4,5,6]
}

df_01 = pd.DataFrame(dicionario)

print(df_01)

    Nomes  Idade               Profissoes  ID
0   Alice     19                  Direito   1
1   Julia     22               Engenharia   2
2   Bruna     28               Enfermagem   3
3  Daniel     34         Engenharia Civil   4
4  Filipe     28  Cientista da Computação   5
5   Silvo     48    Engenheiro Eletronico   6

In [5]:
# Ex 02

dicionario02 = {
    'Numero de produtos fabricados': [50,30,40,100],
    'Setores': [1,2,3,4]
}

df_02 = pd.DataFrame(dicionario02)

print(df_02)

   Numero de produtos fabricados  Setores
0                             50        1
1                             30        2
2                             40        3
3                            100        4

In [7]:
# Ex 03

dicionario03 = {
    'ID': [1,2,3,4],
    'Nome': ['Ana', 'Pedro', 'Maria', 'João'],
    'Setores': ['RH', 'Vendas', 'Administrativo', 'Producao']
}

dicionario04 = {
    'ID': [1,2,3,4],
    'Salarios': [3000, 2800, 3200, 2500]
}

df_03 = pd.DataFrame(dicionario03)
df_04 = pd.DataFrame(dicionario04)

pd.merge(df_03, df_04, how='inner', on='ID')

   ID   Nome         Setores  Salarios
0   1    Ana              RH      3000
1   2  Pedro          Vendas      2800
2   3  Maria  Administrativo      3200
3   4   João        Producao      2500